@media (max-width: 991px) {

    /* HEADER NAV */
    .dropdown {
        display: block;
    }

    .container-nav {
        padding: 1rem;
    }

    .container-nav ul {
        display: none;
    }

    /* BANNER PAGE MAIN */
    .content-header-banner {
        padding: 0 2rem;
    }

    .content-banner h1 {
        font-size: 35px !important;
        line-height: 55px !important;
    }

    .content-banner p {
        font-size: 14px !important;
    }

    /* MERCHAN */
    .content-merchan {
        flex-direction: column;
        align-items: center;
    }

    /* CARDS LAST VACANCIES */
    .content-cards-vacancy {
        flex-direction: column;
    }

    .card-content {
        cursor: pointer;
        width: 100vw !important;
        height: 450px;
        border: 1px solid #adadada1;
        background-color: #ffff;
    }

    /* CAROUSEL */
    .content-depoiment {
        padding: 2rem 2rem !important;
    }

    .carousel-inner {
        height: 400px !important;
    }

    /* CONTAINER VACANCIES */
    .content-vacancies {
        flex-direction: column;
        padding: 0 2.5rem;
    }

    .content-image-person img {
        width: 360px;
        height: 250.33px;
    }

    /* VAGAS */
    .container-content-vagas {
        flex-direction: column;
        align-items: center;
    }
}


/* MOBILE */
@media (max-width: 425px) {

    /* HEADER NAV */
    .logo img {
        width: 240px;
        height: 21px;
    }

    /* BANNER */
    .content-banner h1 {
        font-size: 27px !important;
        line-height: 40px !important;
    }

    .content-banner button {
        font-size: 16px !important;
    }

    .content-banner p {
        font-size: 12px !important;
    }

    /* CAROUSEL */
    .content-depoiment {
        padding: 2rem 1rem !important;
    }

    .carousel-inner {
        height: 490px !important;
    }
}