h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 500;
}

.container-vagas-banner {
    background-image: linear-gradient(-225deg, #0065a899 0%, #00243d99 50%), url(../assets/background-vagas.jpg);
    background-size: cover;
    color: #fff;
    padding: 0.8rem;
}

.vagas-content h1,
p {
    text-align: center;
}

.vagas-content h1 {
    font-size: 32px;
    line-height: 70px;
}

.vagas-content p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
}

.input-group {
    display: flex;
    justify-content: center;
    ;
}

.input-group form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.input-group button {
    padding: 1rem;
    font-size: 16px;
    border: 1px solid #808080ad;
    cursor: pointer;
}

.input-group select {
    padding: 0.5rem;
    font-size: 20px;
    width: 40%;
    outline: none;
    border: 1px solid #808080ad;
}

.container-vagas {
    display: flex;
    justify-content: center;
}

.content-vagas {
    margin: 2.5rem;
}

.breadcrumb {
    background: none;
}

.breadcrumb a {
    color: #34495E;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #000000;
    text-decoration: underline;
}

.breadcrumb p {
    text-align: start;
    color: #777777;
}

.breadcrumb {
    display: flex;
    gap: 8px;
}

.container-cadastro-thor {
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F4F4F4;
}

.container-cadastro-thor a {
    font-size: 20px;
    text-decoration: none;
    color: #34495E;
}

.container-cadastro-thor img {
    width: 90px;
}

.create-perfil-content {
    width: 50%;
}


.btn-mecadastrar button:hover {
    background-color: #1e886d;
}

.container-content-vagas {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content-filter {
    width: 40%;
}

.filtrar-all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.text-filter {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin: 0.5rem 0;
}

.filtrar-contrato {
    margin: 1rem 0;
}

.nivel-de-experiencia {
    margin: 1rem 0;
}

.width-empresa {
    width: 50%;
    margin: 1rem 0;
}

.cidade-vaga {
    margin: 1rem 0;
}

.btns-filter {
    cursor: pointer;
    font-size: 14px;
    padding: 6px 14px;
    background-color: #F4F4F4;
    border: none;
    box-shadow: 0px 0px 2px #0000004d;
    margin: 0.5rem 0.4rem;
    border-radius: 12px;
}


.group-searchfilter {
    display: flex;
    align-items: center;
}

.group-searchfilter input {
    margin: 1rem 0;
    width: 50%;
    height: 36px;
    padding: 0.5rem;
    font-size: 16px;
    outline: none;
}

.group-searchfilter button {
    width: 10%;
    height: 36px;
    background: none;
    border: 1px solid;
    cursor: pointer;
}

.btns-cidade {
    width: 50%;
}

.btns-cidade button {
    margin: 0.5rem 0;
}

.container-vaga {
    width: 100%;
}

.content-vaga {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 200px;
    cursor: pointer;
    border-top: 1px solid #a8a8a8b2;
    border-top: 1px solid #a8a8a8b2;
}

.content-vaga:hover {
    background-color: #bbbbbb63;
}

.content-vaga h1 {
    text-align: center;
    font-size: 30px;
    color: #34495E;
}

.descricao-vaga {
    margin: 1rem 0;
    text-align: center;
    color: #808080;
}

.content-vaga span {
    font-size: 20px;
}

.content-vaga-description {
    width: 70%;
    min-width: 250px;
    text-align: center;
}

.content-image img {
    width: 130px;
}

.status-vaga {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.status-vaga span {
    margin: 0 1rem;
    color: #333333;
}